@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/*Estilização Header*/
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 340px;
    padding: 20px;
    position: fixed;
    top:0;
    left: 0;
}

.menu.sticky {
    background: #000000;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.menu.sticky nav.navbar-header li {
    color: rgb(255, 255, 255);
}

.menu.sticky nav.navbar-header a {
    color: rgb(255, 255, 255);
}

.menu.sticky button.btn-navbar {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

h1 span {
    color: #DA2535;
}

nav.navbar-header li{
    display: inline-block;
    color: #292929;
    font-family: 'Inter', sans-serif;
    margin-left: 80px;
    font-size: 24px;
    cursor: pointer;
}

nav.navbar-header a {
    text-decoration: none;
    color: #292929;
}

button.btn-navbar {
    width: 150px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #292929;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

/*Estilização conteúdo inicial*/
div.initial-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

div.initial-content h1 {
    width: 405px;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

div.initial-content p{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    width: 520px;
    height: 119px;
}

div.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.btn-container {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;    
    width: 292px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #DA2535;
    color: #FBFBFB;
    cursor: pointer;
}

button.btn-container:hover {
    background-color: #83161f;
    transition: 0.3s;
}

img.sushi-img {
    width: 400px;
    height: 543.7px;
}

/*Estilização área de instruções*/
div.second-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

img.food-img {
    width: 604px;
    height: 500px;
    border-radius: 16px;
    margin-left: 50px;
}

div.container-second-section {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}

h1.second-section-title {
    width: 361px;
    height: 124px;
    font-size: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
}

p.food-description {
    width: 500px;
    height: 114px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

p.food-instruction {
    width: 392px;
    height: 29px;
    color: #DA2535;
    font-family: 'Inter';
    font-size: 24px;
    text-decoration-line: underline;
    cursor: pointer;
}

/*Estilização area de comidas populares*/
h1.most-popular-foods-section-title {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: -20px;
}

div.most-popular-foods-section {
    display: flex;
    width: 100%;
    margin-top: 150px;
    justify-content: center;
    margin-bottom: 50px;
}
    
div.most-popular-foods-grid {
    display: flex;
    column-gap: 150px;
    width: 1300px;
}

div.food-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;
    width: 350px;
    height: 350px;
    border-radius: 8px;
    padding: 10px;
}

img.food-photo {
    margin-top: -100px;
    width: 209px;
    height: 209px;
}

h1.card-title {
    text-align: center;
    width: 100%;
    height: 39px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 30px;
    margin-top: 60px;
}

p.card-description {
    text-align: center;
    width: 249px;
    height: 58px;
    font-family: 'Inter';
    font-weight: thin;
    font-size: 16px;
    margin-top: 10px;
    color: #616161;
}

p.card-price {
    text-align: center;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
}

/*Estilização área de comentários*/
div.comments-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

div.comments-title-container h1 {
    width: 318px;
    height: 59px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    margin-top: 30px;
}

div.title-container {
    width: 1300px;
}

div.comments-container {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 20px;
}

div.comment-card {
    width: 550px;
    height: 290px;
    background-color: #F3F3F3;
    border-radius: 16px;
    padding: 30px;
}

p.name-card {
    width: 100%;
    height: 39px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 32px;
    margin-top: 30px;
} 

p.report-card {
    width: 455px;
    height: 76px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #616161;
    margin-top: 20px;
}

/*Estilização área de localização*/
div#localization {
    margin-top: 50px;
}

div.container-map-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    margin-top: 30px;
}

img.img-map {
    width: 1300px;
}

div.search-bar {
    display: flex;
}
input {
    width: 630px;
    height: 50px;
    border-top: 1px solid #292929;
    border-left: 1px solid #292929;
    border-bottom: 1px solid #292929;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}

input:focus {
    outline: 0;
}

#input-placeholder::placeholder {
    width: 286px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #292929;
}

button.btn-search {
    width: 183px;
    height: 72px;
    border: none;
    background: #DA2535;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

button.btn-search:hover {
    background-color: #83161f;
    transition: 0.3s;
}

/*Estilização footer*/
footer {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 30px;
    margin-top: 80px;
    background-color: #F3F3F3;
}

p.info-footer {
    width: 150px;
    height: 32px;

    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
}

/*Estilização menu mobile*/
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: red;
    margin: 8px;
}

/*Responsividade mobile*/
 @media screen and (min-device-width : 320px) and (max-device-width : 1500px) {
    .mobile-menu {
        display: block;
        cursor: pointer;
    }

    .navbar-header {
        display: none;
    }
    .nav-list {
        display: none;
    }

    button.btn-navbar {
        display: none;
    }

    /*Header*/
    header {
        gap: 150px;
    }

    header h1 {
        height: 22px;
        width: 71px;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
    }
    
    /*Conteúdo inicial*/
    div.container {
        align-items: center;
    }

    div.initial-content h1 {
        height: 39px;
        width: 270px;
        left: 24px;
        top: 104px;
        font-family: "Montserrat";
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    div.initial-content p{
        height: 104px;
        width: 278px;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;         
    }
    
    button.btn-container {
        height: 40px;
        width: 312px;
        border-radius: 6px;
        padding: 10px, 40px, 10px, 40px;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 600;
    }
    
    img.sushi-img {
        display: none;
    }

    /*Estilização área de instruções*/
    div.second-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    img.food-img {
        height: 350px;
        width: 312px;
        border-radius: 8px;
        margin-left: 0px;
    }

    div.container-second-section {
        margin-right: 0px;
        align-items: center;
    }
    
    h1.second-section-title {
        height: 62px;
        width: 100%;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    p.food-description {
        height: 104px;
        width: 290px;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    p.food-instruction {
        height: 19px;
        width: 262px;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 500;
    }

    /*Estilização area de comidas populares*/
    h1.most-popular-foods-section-title {
        height: 30px;
        width: 100%;
        text-align: center;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 600;
    }
    
    div.most-popular-foods-grid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 150px;
    }

    div.food-card {
        height: 350px;
        width: 280px;
    }

    img.food-photo {
        margin-top: -100px;
        width: 209px;
        height: 209px;
    }

    h1.card-title {
        height: 30px;
        width: 319px;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    /*Estilização área de comentários*/

    div.comments-title-container h1 {
        height: 30px;
        width: 100%;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    div.title-container {
        width: 1300px;
    }

    div.comments-container {
        flex-direction: column;
        align-items: center; 
    }

    div.comment-card {
        height: 240px;
        width: 240px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p.name-card {
        height: 22px;
        width: 100%;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    } 

    p.report-card {
        height: 52px;
        width: 100%;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        text-align: center;  
    }

    img.img-align {
        height: 60px;
        width: 60px  
    }

    img.img-align-stars {
        margin-top: 20px;
        height: 19px;
        width: 122px;
    }

    /*Estilização área de localização*/
    img.img-map {
        height: 242px;
        width: 310px;
        border-radius: 8px;
    }

    input {
        height: 40px;
        width: 190px;
    }

    #input-placeholder::placeholder {
        height: 15px;
        width: 143px;
        font-family: "Inter";
        font-size: 12px;
        font-weight: 500;
    }

    button.btn-search {
        height: 62px;
        width: 101px;
    }

    /*Estilização footer*/
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    p.info-footer {
        height: 16px;
        width: 117px;
        font-size: 14px;
        font-weight: 400;
    }
}

